.title {
    color: #02ccba;
  }

.headder li{
 float:left;
 padding-left:40px
 
}

.headder img{
  float:left;
}

li{
  list-style: none;
}

.headder-logo{
  font-size:10px;
  padding:20px 0px;
}

.headder{
  padding:0px 100px;
}

.main{
  padding:0px 100px;
}

.footer{
  padding:0px 80px;
}

.footer li{
  float:left;
  padding:20px;
  color:brown;
}

.footer2{
  clear:both;
  padding:0px 80px;
  font-size:12px;
}
  
